:root {
  --branco-principal: #FFFFFF;
  --cinza-secundário: #COCO;
  --botão-azul: #167BF7;
  --cor-de-fundo: #00030C
}

body {
  background-color: var(--cor-de-fundo)
  color: var(var(--branco-principal)
}
             
* {
  matgin: 0;
  padding: 0;
}

principal {
  background-image:
    background-repeat: no-repeat;
  background-size: contain
}

.container{
  height: 100vh
}
